name: Despliegue Docker automatico

on:

  push:
    branches: ["master"]
    workflow_dispatch:

    permissions:
      contests: write


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Login to Docker Hub
        uses: docker/login-action@dckr_pat_GiXAfFqtBOARvUCDjQ_JRiHO-5I
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN  }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./Dockerfile
          push: true
          tags: user/app:latest

