name: Despliegue Docker automatico

on:
  pull_request :
    branches :
    - master
  push:
    branches:
    - master
    workflow_dispatch:

    permissions:
      contests: write

jobs:
  jobs:
    push_to_registry:
      name: Push Docker image to Docker Hub
      runs-on: ubuntu-latest
      steps:
        - name: Check out the repo
          uses: actions/checkout@v2

        - name: Login to DockerHub
          uses: docker/login-action@v1
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_TOKEN }}
            logout: true

        -
          name: Build and push
          uses: docker/build-push-action@v6
          with:
            context: ./Dockerfile
            push: true
            tags: user/app:latest

